<div class="hamburger">
    <a id="#hamburger"><i class="fa fa-bars"></i></a>
  </div>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand" id="exit"><a href="#" class="fa fa-times"></a>
      </li>
      <li class="sidebar-brand nav-bar">
        <a class="section2" href="#work">Work</a>
      </li>
      <li class="sidebar-brand">
        <a class="section3" href="#bio">Bio</a>
      </li>
      <li class="sidebar-brand nav-bar">
        <a class="section4" href="#contact">Contact</a>
      </li>
    </ul>
  </div>