<div class="container-fluid">
 <div class="container work">
  <div id="masonry-grid">
    {% for post in site.posts %}
      <div class="grid-item">
          <a class="post-link" style="height: {{post.img_height}}px;" href="{{ post.site }}">
            <h4 class="text-center">{{post.title}}</h4>
            <p class="text-center">{{ post.description }}</p>
          
              <div class="blog-image" style="background-image: url({{ post.img }}); height: {{post.img_height}}px;" ></div>
          </a>
      </div>
    {% endfor %}
  </div>
</div>
</div>