html,
body {
  height: 100%;
  margin: 0;
}

.main-text {
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 2.75em;
  font-weight: 400;
  font-family: avenir next;
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* Safari */
-webkit-transform: rotate(-20deg);

/* Firefox */
-moz-transform: rotate(-20deg);

/* IE */
-ms-transform: rotate(-20deg);
}

.main-text p {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.main-text p span {
  margin-right: 50px;
}